# Xcode
xcuserdata/
*.xcuserstate
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata

# Firebase
GoogleService-Info.plist
Health Tracker.xcodeproj/
Health-Tracker-Info.plist


# Build
build/
DerivedData/

